@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.App {
  min-height: 100vh;
}

.custom-scroll-bar::-webkit-scrollbar {
  width: 7px;
}

.custom-scroll-bar::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.custom-scroll-bar::-webkit-scrollbar-thumb {
  background: rgb(172, 172, 172);
  border-radius: 5px;
}
